.footer{
    text-align: center;
    background-image: linear-gradient(180deg,#6366F1,#C7D2FE);
    padding: 1.5rem 0.5rem;
    margin-top: auto;
    border-radius: 1rem 1rem 0rem 0rem;
}

.headingFooter{
    font-size: 1.5rem;
    font-weight: bold;
}

.content{
    margin: 0.6rem 0rem;
}

.credits{
    font-weight: bold;
}